.DS_Store
Trailblazer.xcodeproj/project.xcworkspace/xcuserdata/peytonmckee.xcuserdatad/UserInterfaceState.xcuserstate

Database/.swiftpm/xcode/package.xcworkspace/xcuserdata/peytonmckee.xcuserdatad/UserInterfaceState.xcuserstate

Trailblazer.xcodeproj/xcuserdata/peytonmckee.xcuserdatad/xcdebugger/Breakpoints_v2.xcbkptlist

Trailblazer.xcodeproj/project.xcworkspace/xcuserdata/peytonmckee.xcuserdatad/IDEFindNavigatorScopes.plist

**/.build/**

#amplify-do-not-edit-begin
amplify/\#current-cloud-backend
amplify/.config/local-*
amplify/logs
amplify/mock-data
amplify/mock-api-resources
amplify/backend/amplify-meta.json
amplify/backend/.temp
build/
dist/
node_modules/
aws-exports.js
awsconfiguration.json
amplifyconfiguration.json
amplifyconfiguration.dart
amplify-build-config.json
amplify-gradle-config.json
amplifytools.xcconfig
.secret-*
**.sample
#amplify-do-not-edit-end
