.DS_Store
Trailblazer.xcodeproj/project.xcworkspace/xcuserdata/peytonmckee.xcuserdatad/UserInterfaceState.xcuserstate

Database/.swiftpm/xcode/package.xcworkspace/xcuserdata/peytonmckee.xcuserdatad/UserInterfaceState.xcuserstate

Trailblazer.xcodeproj/xcuserdata/peytonmckee.xcuserdatad/xcdebugger/Breakpoints_v2.xcbkptlist

Trailblazer.xcodeproj/project.xcworkspace/xcuserdata/peytonmckee.xcuserdatad/IDEFindNavigatorScopes.plist

Trailblazer.xcodeproj/project.pbxproj
